<!-- Generated template for the CostomcompomentComponent component -->

<div class="close-block" (click)="close()" style="
    position: absolute;
    top: -109px;
    height: 260%;
    width: 100%;
    background: #000;
    right: 0;
    z-index: -2;
    opacity: .08;
"></div>
<div>

  	
  	<div class="donate-box">
  		<span class="top-icon" ><img src="assets/imgs/icon-top.jpg" /></span>
  		<div class="top-right">
  			<span>You have</span>55 Wings
  			<span class="alert-icon">i</span>
  		</div>
  		<div class="range-slider">
  				<span class="range-number">{{singleValue}}</span>
				
					<ion-range min="0" max="100" [(ngModel)]="singleValue" color="danger"  pin="true">
						
					</ion-range>
				<button ion-button round>Donate</button>
  		</div>
  	</div>
  	<div class="relation-box">
  		<div class="title">Reatcions</div>
  		<div class="icon-box">
  			<a href="#" class="icon"><img src="assets/imgs/heart-icon.jpg" /></a>
  			<a href="#" class="icon"><img src="assets/imgs/smile-icon.jpg" /></a>
  			<a href="#" class="icon"><img src="assets/imgs/sad-icon.jpg" /></a>
  			<a href="#" class="icon"><img src="assets/imgs/arrow-up.jpg" /></a>
  			<a href="#" class="icon"><img src="assets/imgs/arrow-down.jpg" /></a>
  			<a href="#" class="icon"><img src="assets/imgs/poo-icon.jpg" /></a>
  		</div>
  	</div>
</div>
