// http://ionicframework.com/docs/theming/
ion-popover .popover-content {
    width: 100% !important;
    left: 0px !important;
    top: 100px !important;
    background: none !important;
}

.popover-content {
    box-shadow: none !important;
}
.popover-md {
}
.popover-md .popover-content {
    top: 0 !important;
    padding-top: 20%;
    padding-bottom: 20%;
    max-height: 100%;
}
.platform-ios .close-block {
    display: none;
}
/* ion-popover:before {
    content: '';
    position: absolute;
    top: 0;
    background: #000;
    height: 100%;
    width: 100%;
    opacity: .2;
}*/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
